html, body {
  margin: 0px;
  padding: 10px;
  background-color: black;
  color: whitesmoke;
  height: 100vh;
  overflow: hidden;
}

#content {
  height: 85vh;
  border: 2px solid whitesmoke;
  padding: 10px;
  margin-left: 10vw;
  margin-right: 10vw;
  border-radius: 10px;
  color: whitesmoke;
}

/*
=============== 
Nav
===============
*/


a, a:visited, a:active {
  height: 100%;
  color: whitesmoke;
  text-decoration: none;
}

a:hover {
  transition: 0.3s;
  scale: 1.2;
}

nav {
  width: 100vw;
  background-color: black;
  color: white;

}

nav ul {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 10vw;
  list-style: none;
  margin: 0px;
  padding: 0px;
  height: 50px;
}

nav ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  height: 20px;
  width: 120px;
  border-top: 1px solid whitesmoke;
  border-left: 1px solid whitesmoke;
  border-right: 1px solid whitesmoke;
  border-bottom: none;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin: 0px;
}

.tab-open {
  background-color: whitesmoke;
}

.tab-open a {
  color: black;
}

/*
=============== 
Home
===============
*/

div {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 20px;
}

h1 {
  font-size: 15vh;
  text-align: center;
}

p {
  font-size: 3vh;
  text-align: center;
}

/*
=============== 
Menu
===============
*/

/*
=============== 
Reservations
===============
*/


/*
=============== 
Footer
===============
*/

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 10px;
  margin: 10px;
  font-size: 15px;
}

